<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="/"></use></svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/" class="nav-link active" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/"></use></svg>
          Main
        </a>
      </li>
      <li>
        <a href="/asd" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/"></use></svg>
          ASD
        </a>
      </li>
      <li>
        <a href="/about-us" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/"></use></svg>
          About
        </a>
      </li>
    </ul>
  </div>

</body>
</html>